Source: libticalcs2-6
Priority: optional
Section: libs
Maintainer: Romain LIEVIN <roms@tilp.info>
Build-Depends: debhelper (>> 5), pkg-config, libglib2.0-dev, libticables2-1-dev (>= 1.0.5-1), libtifiles2-4-dev (>= 1.0.7-1), libticonv2-dev (>= 1.0.3-1), tfdocgen, gettext, autoconf, automake1.9
Standards-Version: 3.7.2

Package: libticalcs2-6-dev
Section: libdevel
Architecture: any
Depends: libticalcs2-6 (= ${Source-Version}), pkg-config, libglib2.0-dev, libticables2-1-dev, libtifiles2-4-dev, libticonv2-dev
Description: Texas Instruments link cables library [development files]
 The libticables is a library providing support for operations on Texas
 Instruments calculators link cables. All link cables are supported read/write.
 .
 This package provides the development files for the library, static library, 
 required headers and documentation.

Package: libticalcs2-6
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Texas Instruments link cables library
 The libticables is a library providing support for operations on Texas
 Instruments calculators link cables. All link cables are supported read/write.
 .
 This package provides the shared library.
