language: c

_linuxpackages: &_linuxpackages
  addons:
    apt:
      packages:
        - build-essential
        - git
        - autoconf
        - automake
        - autopoint
        - libtool
        - libglib2.0-dev
        - zlib1g-dev
        - libusb-1.0-0-dev
        - gettext
        - bison
        - flex
        - groff
        - texinfo
        - libarchive-dev
        - ninja-build
        - liblz4-dev
        - liblzma-dev
        - autoconf-archive

matrix:
  include:
    - os: linux
      dist: xenial
      env: PREBUILDER=autotools BUILDER=make
      <<: *_linuxpackages
    - os: linux
      dist: xenial
      env: PREBUILDER=cmake     BUILDER=make
      <<: *_linuxpackages
    - os: linux
      dist: xenial
      env: PREBUILDER=cmake     BUILDER=ninja
      <<: *_linuxpackages
    - os: osx
      env: PREBUILDER=autotools BUILDER=make
    - os: osx
      env: PREBUILDER=cmake     BUILDER=make
    - os: osx
      env: PREBUILDER=cmake     BUILDER=ninja

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then HOMEBREW_NO_AUTO_UPDATE=1 brew install cmake ninja gettext libarchive libtool glib libusb bison flex texinfo libiconv intltool autoconf-archive ; brew link --force gettext libarchive ; export PKG_CONFIG_PATH="/usr/local/opt/libarchive/lib/pkgconfig"; fi
  - which gcc   ; gcc --version
  - which cmake ; cmake --version
  - which ninja ; ninja --version
  - which make  ; make --version

script: .travis/script.sh
