Source: libtifiles2-4
Priority: optional
Section: libs
Maintainer: Romain LIEVIN <roms@tilp.info>
Build-Depends: debhelper (>> 5), pkg-config, libglib2.0-dev, libticonv3-dev (>= 1.0.2-1), zlib1g-dev, tfdocgen, gettext, autoconf, automake1.9
Standards-Version: 3.7.2

Package: libtifiles2-4-dev
Section: libdevel
Architecture: any
Depends: libtifiles2-4 (= ${Source-Version}), pkg-config, libglib2.0-dev, libticonv3-dev, zlib1g-dev
Conflicts: libtifiles2-3-dev
Description: Texas Instruments calculator files library [development files]
 The libtifiles is a library providing support for operations on Texas
 Instruments calculators files. All formats for all calculators are supported
 read/write ; the library is also able to manipulate the group files, which
 means it is able to group and ungroup variables into such group files.
 .
 This package provides the development files for the library, static library, 
 required headers and documentation.

Package: libtifiles2-4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libtifiles2-3
Description: Texas Instruments calculator files library
 The libtifiles is a library providing support for operations on Texas
 Instruments calculators files. All formats for all calculators are supported
 read/write ; the library is also able to manipulate the group files, which
 means it is able to group and ungroup variables into such group files.
 .
 This package provides the shared library.
