# Texas Instruments link cables support for hand-helds

# SilverLink
ACTION=="add", SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0451", 
SYSFS{idProduct}=="e001", MODE="0660", GROUP="plugdev"
# TI-84+ DirectLink
ACTION=="add", SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0451", 
SYSFS{idProduct}=="e003", MODE="0660", GROUP="plugdev"
# TI-89 Titanium DirectLink
ACTION=="add", SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0451", 
SYSFS{idProduct}=="e004", MODE="0660", GROUP="plugdev"
# TI-84+ SE DirectLink
ACTION=="add", SUBSYSTEM=="usb_device", SYSFS{idVendor}=="0451", 
SYSFS{idProduct}=="e008", MODE="0660", GROUP="plugdev"
