Source: libticonv
Priority: optional
Section: libs
Maintainer: Romain LIEVIN <roms@tilp.info>
Build-Depends: debhelper (>> 5), pkg-config, libglib2.0-dev, tfdocgen, autotools-dev
Standards-Version: 3.7.3

Package: libticonv3-dev
Section: libdevel
Architecture: any
Depends: libticonv3 (= ${binary:Version}), pkg-config, libglib2.0-dev
Conflicts: libticonv2-dev
Description: Texas Instruments calculators charsets library [development files]
 The libticonv is a library providing support for operations on Texas 
 Instruments calculators charsets. All charsets for all calculators are 
 supported; the library is also able to convert to/from UTF-8/UTF-16.
 .
 This package provides the development files for the library, static library, 
 required headers and documentation.

Package: libticonv3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libticonv2
Description: Texas Instruments calculators charsets library
 The libticonv is a library providing support for operations on Texas
 Instruments calculators charsets. All charsets for all calculators are 
 supported; the library is also able to convert from/to UTF-8/UTF-16.
 .
 This package provides the shared library.
